<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Or's Billboard</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" id="main-header">BILLBOARD</div>
        </div>
        {% for post in posts %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div id="main-post">
                    <p id="pub-date">{{ post.published_date }}</p>
                    <p id="title">{{ post.title }}</p>
                    <p id="text-body">{{ post.text }}</p>
                    <div id="user-name">{{ post.user_name }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
        <form method="POST" action='' id="main-form">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    {% csrf_token %} {{ form.as_p }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 dashed-row">
                    <button id="remove-row" onclick="removeRow();">
                        <i class="fas fa-window-close"></i>
                    </button>
                    <button type="submit" id="submit-btn">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </form>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 dashed-row">
                    <button id="add-form" onclick="addForm();">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>